<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name=".parent_home.provider_report.ProviderReportActivity"
            android:exported="false" />
        <activity
            android:name=".child_home.history.ChildPefHistory"
            android:exported="false" />
        <activity
            android:name=".child_home.history.ChildDailyCheckInHistory"
            android:exported="false" />
        <activity
            android:name=".child_home.history.ChildMedicineLogHistory"
            android:exported="false" />
        <activity
            android:name=".child_home.history.ChildHistory"
            android:exported="false" />
        <activity
            android:name=".parent_home.manage_inventory.ParentManageInventory"
            android:exported="false" />
        <activity
            android:name=".child_home.manage_inventory.ManageInventoryChild"
            android:exported="false" />
        <activity
            android:name=".child_home.daily_check_in.DailyCheckIn"
            android:exported="false" />
        <activity
            android:name=".authentication.RoleSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".child_home.log_medicine.technique_helper.TechniqueIntro"
            android:exported="false" />
        <activity
            android:name=".child_home.log_medicine.technique_helper.TechniqueHelper"
            android:exported="false" />
        <activity
            android:name=".child_home.log_medicine.LogMedicine"
            android:exported="false" />
        <activity
            android:name=".child_home.triage.TriageActivity"
            android:exported="false" />
        <activity
            android:name=".parent_home.manage_sharing.ManageAccessActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".parent_home.manage_children.AddChildActivity"
            android:exported="false" />
        <activity
            android:name=".parent_home.manage_children.ChildManagementActivity"
            android:exported="false" />
        <activity
            android:name=".parent_home.ParentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".parent_home.alerts.ParentAlertsActivity"
            android:exported="false" />
        <activity
            android:name=".parent_home.history_browser.ParentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".parent_home.ParentSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".provider_home.ProviderManageChildren"
            android:exported="false" />
        <activity android:name=".provider_home.ProviderSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".provider_home.ProviderHomeActivity"
            android:exported="false" />
        <activity
            android:name=".child_home.ChildHomeActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.Registration"
            android:exported="false" />
        <activity
            android:name=".authentication.Login"
            android:exported="false" />
        <activity
            android:name=".authentication.ChildLoginActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.MainActivity"
            android:exported="true" />
        <activity
            android:name=".parent_home.manage_sharing.ManageDataSharingActivity"
            android:exported="false" />
        <activity android:name=".provider_home.TriageLogActivity"
            android:exported="false"/>
        <activity android:name=".provider_home.PefLogActivity"
            android:exported="false"/>
        <activity android:name=".provider_home.SymptomsLogActivity"
            android:exported="false"/>
        <activity android:name=".provider_home.RescueLogsActivity"
            android:exported="false"/>
        <activity android:name=".child_home.motivation.StreaksBadgesActivity"
            android:exported="false"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>